<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>IPTV</title>
</head>
<body>
    <div class="container">
        <nav>© rohit8020(Rohit Gangwar)</nav>
        <h1 class="heading">Welcome to IPTV</h1>
        <div class="channels-container">
            <% channels.forEach(function(channel,index){ %>
                <div class="channel">
                    <% if(channel.tvg_logo==="" || !channel.tvg_logo){ %>
                        <img src="http://pngimg.com/uploads/tv/tv_PNG39244.png" alt="📺">
                    <% }else{ %>    
                    <img src="<%= channel.tvg_logo %>" alt="📺">
                    <% } %>
                    <a href="/<%= String(index) %>">
                        <span><b>Channel Name : <%= channel.tvg_id %></b></span>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>