*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(107, 196, 166);
}

nav{
    font-size: 2rem;
    color: rgb(49, 5, 5);
    background-color: coral;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgb(49, 5, 5);
}

@media only screen and (max-width: 450px) {
    nav{
        font-size: 1.6rem;
    }
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hls-example-dimensions{
    width: 100%;
    height: 100%;
}

.video-container{
    margin-top: 2rem;
    width: 85%;
    height: 85vh;
    background-color: gray;
}