@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(59, 59, 59);
}

nav{
    font-size: 1.7rem;
    color: rgb(231, 231, 231);
    background-color: rgb(15, 15, 14);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid grey;
}

@media only screen and (max-width: 450px) {
    nav{
        font-size: 1.4rem;
    }
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1515703817793-511cee221bb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.hls-example-dimensions{
    width: 100%;
    height: 100%;
}

.video-js .vjs-big-play-button{
    margin-top: 43px;
    margin-left: 87px;
}

.video-container{
    margin-top: 2rem;
    width: 85%;
    height: 85vh;
    display: flex;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

@media only screen and (max-width: 720px) {
    .video-container{
        height: 60vh;
    }
}

@media only screen and (max-width: 450px) {
    .video-container{
        height: 50vh;
        width: 90%;
    }
}