*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(107, 196, 166);
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hls-example-dimensions{
    width: 100%;
    height: 100%;
}

.video-container{
    margin-top: 2rem;
    width: 85%;
    height: 85vh;
    background-color: gray;
}